# Auto detect text files and perform LF normalization
* text=auto

# Images
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary

# 3D Models
*.glb binary
*.gltf text
*.fbx binary
*.obj text
*.mtl text

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
